@font-face {
    font-family: 'UCL-Bold';
    src: url('fonts/Champions-Bold.ttf') format("truetype");
}
@font-face {
    font-family: 'UCL-Regular';
    src: url('fonts/Champions-Regular.ttf') format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'UCL-Bold', sans-serif;
}

.gradient {
    background:linear-gradient(to right, #091442 ,#05248c 50%, #9e16ce );
}

:where(.css-dev-only-do-not-override-42nv3w).ant-typography {
    font-family: 'UCL-Bold', sans-serif;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-btn {
    font-family: 'UCL-Bold', sans-serif;
}

.ant-table-cell{
    font-family: 'UCL-Regular', sans-serif;
    font-size: 19px;
    text-align: center;
}

.green{
    background-color: #c2fccc;
}

.orange{
    background-color: #fff0ca
}

.red {
    background-color: #ffccd1;
}

.gray{
    background-color: rgba(192, 192, 192, 0.61);
}