@font-face {
    font-family: 'UCL';
    src: url('fonts/Champions-Bold.ttf') format("truetype");
}



body {
    margin: 0;
    padding: 0;
    font-family: 'UCL', sans-serif;
}

.gradient {
    background:linear-gradient(to right, #091442 ,#05248c 50%, #9e16ce );
}

:where(.css-dev-only-do-not-override-42nv3w).ant-typography {
    font-family: 'UCL', sans-serif;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-btn {
    font-family: 'UCL', sans-serif;
}
